body{
    background-color: #090f0f;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0 24px;
}

.texto_um{
    color: #19269c;
    font-size: 24px;
}

.texto_dois{
    color: #db3e0e;
    font-size: 24px;
}

.rodape{
    text-align: center;
    display: grid;
    font-size: 18px;
    color: rgb(161, 15, 15);
}

.imagem{
   width: 40%; 
}

.imagem{
    width: 40%;

}

